<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Analysis</title>
    </head>

    <body>

        <header>
            <div class="logo">
            </div>
            <div class="title">
                What post do you want to analyze?
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Please, provide url to analyze a post">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section id="resultSection">
                <strong>Post Analysis Result</strong>
                <div class="result" id="model"></div>
                <div class="result" id="confidence"></div>
                <div class="result" id="irony"></div>
                <div class="result" id="agreement"></div>
                <div class="result" id="subjectivity"></div>
            </section>
        </main>

        <footer>
            <p>Powered by bringToReality</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
