body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

#resultSection{
    text-align: center;
}

// #resultSection .result{
//     border: 1px solid skyblue;
//     padding: 40px;
//     text-align: center;
// }
