header {
    display: flexbox;
    justify-content: space-between;
    
    text-align: center;
    .logo{
        background-image: url("../../../img/nlpLogo.png");
        padding: 100px;
    }
    .title{
        font-size: 40px;
        color: yellowgreen;
        padding: 50px;
    }
}

